.Options {
    position: relative;
    color: #212121;
}
.Options-btn {
    height: 20px;
    width: 24px;
    margin: 10px 15px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Options-btn-dots {
    width: 4px;
    height: 4px;
    background-color: #ffffff;
}
.Options-items {
    position: absolute;
    width: 150px;
    right: 10px;
    top: 5px;
    background-color: #ffffff;
    opacity: 0;
    display: none;
    flex-direction: column;
    transition: .2s;
}
.Options-item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}